<div class="content">
    <div class="container">
        <div class="about-me">
            <h3><span>01.</span> About Me</h3>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit dui sit amet diam
                gravida vulputate. Maecenas sodales hendrerit mi et dignissim. Donec ut eros ligula. Integer tincidunt
                luctus accumsan. Aenean lacinia nisl eget quam <span class="neon">Angular</span> sollicitudin facilisis. Vivamus tellus dolor, dictum quis
                euismod elementum, luctus nec arcu. Pellentesque efficitur tristique magna.
                </p>
        </div>
        <div class="img-container">
            <div class="img-border">
                <img src="./assets/20231003_180446.jpg">
            </div>
        </div>
    </div>
</div>