<div class="content">
    <div class="container">
        <div>
            <h1>Hello! My name is</h1>
        </div>
        <div class='banner-title'>
            <h2>Entri Seitlli.</h2>
            <h3>Frontend Developer</h3>
        </div>
        <div class='banner-description'>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit dui sit amet diam
                gravida vulputate. Maecenas sodales hendrerit mi et dignissim. Donec ut eros ligula. Integer tincidunt
                luctus accumsan. Aenean lacinia nisl eget quam <span class="neon">Angular</span> sollicitudin facilisis. Vivamus tellus dolor, dictum quis
                euismod elementum, luctus nec arcu. Pellentesque efficitur tristique magna.
                </p>
        </div>
        <div class="contact">
            <a class="btn">
                Get in touch
            </a>
        </div>
    </div>
</div>